body{
    text-align: center;
    color:white;
    font-family:'Raleway', sans-serif;
    background: black;
}
.basic-info{
    text-align: left;
    margin-left: 150px;
    width: 475px;
}

.icons{
    background: #1E1A13;
    padding: 50px;
}

h1{
    font-weight: 500;
    font-size: 50px;
}
h2{
    font-weight: 300;
    font-weight: 30px;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align:middle;
}